.back-ground {
    background-color: white;
    /*-webkit-box-shadow: 10px 0px 5px -6px rgba(168,168,168,1);
    -moz-box-shadow: 10px 0px 5px -6px rgba(168,168,168,1);
    box-shadow: 10px 0px 5px -6px rgba(168,168,168,1);*/
}

.btnTambah {

}

